<!DOCTYPE html>
<html>

  <head>
    <title> Makers BnB </title>
    <link rel="stylesheet" href"css/homepage.css">
  </head>

  <body>
    <h1 id="header"> Welcome to Makers BnB!</h1>
    <form id="button" action="/spaces/new" method="get">
      <input type="submit" value="List a new space!">
    </form>
    <br>
    <form id="button" action="/spaces/book" method="get">
      <input type="submit" value="Book a trip!">
    </form>
  </body>
</html>
