<h1> All available properties </h1>
<ul id='spaces_container'>
  <% spaces.each do |space| %>
    <li>
      <div class='space_container'>
        <p><%= space.name %></p>
        <p><%= space.description %></p>
        <p>£<%= space.price %> per night</p>
      </div>
    </li>
  <% end %>
</ul>


<h2>Request a Booking</h2>
<form id='booking-request' action='/booking' method='post'>
  <select name='spaces'>
    <% spaces.each do |space| %>
        <option name='space-name'><%= space.name %></option>
    <% end %>
  </select>
  <input type='date' name='booking-date'>
  <input type='submit' Value='Request Booking'>
</form>
