<!DOCTYPE html>
<html>
  <head>
    <title> Makers BnB </title>
  </head>

  <body>
    <h1> List your space on Makers BnB!</h1>

    <form action="/all_spaces" method="post">
      Host name: <input type="text" name="host"><br></br>
      Space name: <input type="text" name="space"><br></br>
      Description: <input type="text" name="description"><br></br>
      Price: <input type="text" name="price"><br></br>
      <input type="submit" value="Complete listing">
    </form>

  </body>
</html>
