<!DOCTYPE html>
<html>
  <head>
    <title> Makers BnB </title>
  </head>

  <body>
    <h1> List your space on Makers BnB!</h1>

    <form id="listing_form" action="/all_spaces" method="post">
      Space name: <input type="text" name="space"><br></br>
      Description: <input type="text" name="description"><br></br>
      Price: <input type="number" class="currency" name="price"><br></br>
      <input id="complete-listing" type="submit" value="Complete listing">
    </form>

  </body>
</html>
