<% if @error == true %>
  Please try again, there was an error generating your verification code!
<% end %>


<form action="/users/phone/verify" method="post">
  Please enter your number: <input name="phone_number" type="number">
  <input type="submit" value="Confirm">
</form>

