<h2>Password Reset</h2>
Please enter your email address.
<form id='password-reset' action='/users/reset' method='post'>
  <input type='text' name='email' placeholder='Email'>
  <input type='submit' value='Reset My Password'>
</form>
