<h2> Sign up to Makers BnB </h2>

<form id='signup-form' action='/users' method='post'>
  <input type='text' name='username' placeholder='Username'>
  <input type='text' name='email' placeholder='Email'>
  <input type='text' name='phone_number' placeholder='Phone number'>
  <input type='password' name='password' placeholder='Password'>
  <input type='password' name='password_confirmation' placeholder='Confirm password'>
  <input type='submit' value='Sign up'>
</form>
