<!DOCTYPE html>
<html>
  <head>
    <title> Makers BnB </title>
  </head>

  <body>
    <h1> Confirm requests for your spaces on Makers BnB!</h1>

    <form id="my-bookings" name="my-bookings" action="/booking/confirm" method="post">
      <% @my_requests.each do |request|%>
      <label>
        <%= @my_spaces[1]['name'] %></label>
      <input id="approve-request-1" type="submit" value="Approve request">
      <br>
      <% end %>
    </form>

  </body>
</html>
