<!DOCTYPE html>
<html>
  <head>
    <title> Makers BnB </title>
  </head>

  <body>
    <h1> Property has been confirmed</h1>

    <form id="return" action="/spaces/requests" method="post">


      <input type="submit" value="return to view requests" name="requests">

    </form>


  </body>
</html>
