div#header {
  width: 100%;
  height: 50px;
  top:0px;
  color: #ff5a5f;
  text-align: center;
  font-size: 38px;
  font-family: 'Montserrat', sans-serif;
}

div#home-container {
  padding-top: 100px;
}

div#notifications {
  padding-top: 100px;
}
.ribbon-form {
  display: inline-block;
}

div#welcome-message {
  display: inline-block;
  padding-right: 15px;
}


div#access-ribbon {
  text-align: right;
  font-size: 12px;
}
