div#header {
  width: 100%;
  position: relative;
  top:0px;
  color: rgb(185, 74, 74);
  text-align: center;
  font-size: 38px;
  font-family: 'Montserrat', sans-serif;
}

div#home-container {
  padding-top: 100px;
}

.ribbon-form {
  display: inline-block;
}

div#welcome-message {
  display: inline-block;
  padding-right: 15px;
}


div#access-ribbon {
  text-align: right;
  font-size: 12px;
}
