<div id="header">
  <div id="access-ribbon">
    <% if current_user %>
    <div id="welcome-message">
      Hello, <i><%= current_user.username %></i>.
    </div>
      <form method="post" class="ribbon-form" action="/sessions">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" class="ribbon-button" value="Sign out">
      </form>
    <% else %>
      <form action="/sign-up" class="ribbon-form" method="get">
        <input type="submit" class="ribbon-button" value="Sign up">
      </form>
      or
      <form method="get" class="ribbon-form" action="/sessions/new">
        <input type="submit" value="Sign in">
      </form>
    <% end %>
  </div>
  <h1>
    Makers BnB
  </h1>
</div>
