<body>
  <div id='home-container'>
    <p>
      No matter what kind of space you have to share, we at MakersBnB makes it simple and secure to earn money and reach millions of travellers looking for unique spaces to stay in, just like yours! Click below to list your space!
    </p>
    <form action="/spaces/new">
      <input type="submit" value="List a new space!" class='button'>
    </form>
    <p>
    Are you heading somewhere and need a space to stay? Look no further, MakersBnB has unique and affordable spaces just waiting for you! Just click below to request a booking and await approval from a host! 
    <form action="/spaces">
      <input type="submit" value="Book a trip!" class='button'>
    </form>
    <p>
    IF LOGGED-IN NEEDED HERE
      Click below to see all your current pending bookings! Don't keep guests waiting to long or they may book elsewhere!
    </p>
    <form action="/spaces/requests">
      <input type="submit" value="View requests" class='button'>
    </form>
  </div>
</body>
