<body>
  <div id='home-container'>
  <form id="button" action="/spaces/new" method="get">
    <input id="list-space" type="submit" value="List a new space!">
  </form>
  <br>
  <form id="button" action="/spaces" method="get">
    <input type="submit" value="Book a trip!">
  </form>
  <form action="/sign-up" method="get">
    <input type="submit" value="Sign up!">
  </form>
  <form method="post" action="/sessions/new">
    <button type="submit" id="sign-in" >Sign In</button>
  </form>
  <form method="post" action="/sessions">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" id="sign-out">Sign Out</button>
  </form>
  </div>
</body>
