<link rel="stylesheet" href="/main.css"/>
<body>
  <div id='home-container'>
    <br><br>
    <form id="button" action="/spaces/new" method="get">
      <input class="home-button" id="list-space" type="submit" value="List a space">
    </form>
    <br>
    <form id="button" action="/spaces" method="get">
      <input class="home-button" id="book-trip" type="submit" value="Book a trip">
    </form>
    <br>
    <form id="button" action="/spaces/requests" method="get">
      <input class="home-button" id="view-request" type="submit" value="View requests">
    </form>
    <br>
    <% if current_user %>
      <form method="get" action="/users/<%= current_user.id %>">
        <input type="submit" value="My Account">
      </form>
    <% end %>
    </div>
  </div>
</body>
