<body>
  <div id='home-container'>
  <form id="button" action="/spaces/new" method="get">
    <input id="list-space" type="submit" value="List a new space!">
  </form>
  <br>
  <form id="button" action="/spaces" method="get">
    <input type="submit" value="Book a trip!">
  </form>
  </div>
</body>
