<!DOCTYPE html>
<html>

  <head>
    <title> Makers BnB </title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.username %>
    <% end %>
    <%= yield %>

  </body>
</html>
